.add-member-box{
background: rgba(0,0,0,0.6);
padding:30px;
border-radius:10px;
width:300px;
color:white;
}

.add-member-box input{
width:100%;
padding:10px;
margin:10px 0;
border:none;
border-radius:5px;
}

.add-member-box button{
background:#3b82f6;
color:white;
border:none;
padding:10px;
border-radius:5px;
cursor:pointer;
}

#errorMessage{
margin-top:10px;
font-weight:bold;
}

.error{
color:#ff4d4d;
}

.success{
color:#00ff88;
}